{{!< default}}

<main>
    {{#post}}
    <article class="{{post_class}} mdl-shadow--4dp">
        {{#if image}}
        <img class="post__image" src="{{image}}" />
        {{/if}}
        <div class="post__date">
            <time class="post__day" datetime="{{date format="DD"}}">{{date format="DD"}}</time>
            <time class="post__month-year" datetime="{{date format="MMM, YYYY"}}">{{date format="MMM, YYYY"}}</time>
        </div>
        <div class="post__body">
            <h2 class="post__title">{{title}}</h2>
            <section class="post__content">
                {{content}}
            </section>
        </div>
        <hr>
        <div class="post__meta">
            <div class="post__author">
                {{#if author.image}}
                    <img class="post__author-thumb" src="{{author.image}}" alt="{{author.name}}" nopin="nopin" />
                {{else}}
                    <span class="post__author-thumb fa fa-user"></span>
                {{/if}}
                {{author}}
            </div>
            {{#if tags}}
            <div class="post__tags">
                <span class="fa fa-tag"></span>
                {{tags}}
            </div>
            {{/if}}
        </div>
    </article>
    {{/post}}
</main>
